<div id="page">
<%= form_tag login_path do %>
<div class="box"><div class="in-float">
<%= label_tag :email %>
<%= text_field_tag :email %>
</div></div>
<div class="box"><div class="in-float">
<%=label_tag :password %>
<%=password_field_tag :password %>
</div></div>
<div class="box">
<%=submit_tag "Log in" %>
</div></div>
<%end%>

</div>

