<div class="in-float" style="display:table">
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="signupfield">
    email<br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "resend confirmation instructions" %>
  </div>
<% end %>

  <div class='links'>
    <%= render "devise/shared/links" %>
  </div>
</div>
