<%= content_for :title do %> | register<% end %>
<div class="in-float" style="height:auto;margin-top:2em">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="signupfield">
    email<br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="signupfield">
    password
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="signupfield">
    confirm password<br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<style>
.signupfield {
  background: #223; 
  text-align: center; 
  color: #fff; 
}
</style>
