<%= content_for :title do %> | register<% end %>
<div class="in-float" style="height:auto;margin-top:1em;">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="signupfield">
    <p>email</p>
    <p><%= f.email_field :email, autofocus: true %></p>

    <p>password
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %></p>
    <p><%= f.password_field :password, autocomplete: "off" %></p>

    <p>confirm password</p>
    <p><%= f.password_field :password_confirmation, autocomplete: "off" %></p>
  <div class="actions">
    <p><%= f.submit "sign up" %></p>
  </div>
  </div>

<% end %>

<p><%= render "devise/shared/links" %></p>
</div>
<style>
.signupfield {
  text-align: center; 
}

.signupfield input {
  box-shadow: 1px 1px 1px #999;
}

p { margin: 0.25rem }
</style>
