<%= content_for :title do %> | reset<% end %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="button light">
    <h2> Reset Password </h2>
    <p><%= f.email_field :email, autofocus: true, placeholder: "Email", class: "normalize-input" %></p>
    <p><%= f.submit "Reset password", :class => "dark button" %></p>
  </div>
<% end %>

  <div class='links'>
    <%= render "devise/shared/links" %>
  </div>
</div>
