<%= content_for :title do %> | reset<% end %>

<div class="in-float" style="display:table">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="signupfield">
    <p>email</p>
    <p><%= f.email_field :email, autofocus: true %></p>
  </div>

  <div class="actions">
    <p><%= f.submit "reset password" %></p>
  </div>
<% end %>

  <div class='links'>
    <%= render "devise/shared/links" %>
  </div>
</div>
