<%= form_for @bounty do |f| %>
  <div class="box">
  <div class="in-float">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'name your bounty' %>
  </div>
  </div>

  <div class="box">
  <div class="in-float">
    <%= f.label :description %>
    <%= f.text_area :description, 
      placeholder: 'a summary of the art you want, and details about where you want it.' %>
  </div>
  </div>

  <div class="box">
  <div class="in-float">
    <%= f.label :location %>
    <p><%= f.number_field :lat, :class => 'text_field', :step => 0.000001, placeholder: 'latitude' %></p>
    <p><%= f.number_field :lng, :class => 'text_field', :step => 0.000001, placeholder: 'longitude' %></p>
  </div>
  </div>

  <div class="box">
  <div class="in-float">
    <%= f.label :amount %>
    <%= f.number_field :amount, :class => 'text_field', :step => 0.000001, placeholder: 'artist reward (usd)' %>
  </div>
  </div>

  <div class="box">
  <div class="in-float">
    <%= f.label :patron %>
    <%= f.text_field :patron, placeholder: 'your name (optional)' %>
  </div>
  </div>

  <input name="stripeToken" id="stripeToken" type="hidden">
  <input name="stripeEmail" id="stripeEmail" type="hidden">
  <input name="stripeTokenType" id="stripeTokenType" type="hidden">

  <div class="box">
  <div class="in-float" style="background:#224">
    <button id="customButton" style="background:none;border:none;font-size:1em;font-family:Roboto;color:#fff">post bounty</button>
  </div>
  </div>

<% end %>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  /*
  *  THE SCRIPT FROM STRIPE TO GATHER THE MONIES
  *  FROM THE CREATIVE FOLK OF THE PLANET
  */
  function getUpchgAmtCents(){
   // convert to cents (100) + fee (10)
   return Number($( "#bounty_amount" ).val()) * 110 ;
  };

  var handler = StripeCheckout.configure({
    key: 'pk_live_FJVEoceXbsJ0elIQaAkAit1u',
    image: '/assets/spraycan.svg',
    locale: 'auto',
    bitcoin: true,
    token: function(token) {
      $( "#stripeEmail" ).val( token.email );
      $( "#stripeToken" ).val( token.id );
      $( "#stripeTokenType" ).val( token.type );
      $( "#new_bounty" ).submit();
    }
  });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options:
    handler.open({
      name: 'grafiki',
      description: '2 widgets',
      amount: getUpchgAmtCents()
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation:
  $(window).on('popstate', function() {
    handler.close();
  });
</script>

<style> .in-float { height: auto } </style>
