<%= form_for @bounty do |f| %>
  <% if @bounty.errors.any? %>
  <div class="box">
  <div class="in-float">
    <%= pluralize(@bounty.errors.count, "error") %> must be fixed. 
    <ul> 
      <% @bounty.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </div>
  </div>
  <% end %>

  <div class="box">
  <div class="in-float">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'name your bounty' %>
  </div>
  </div>

  <div class="box">
  <div class="in-float" id="b-f-d">
    <%= f.label :description %>
    <%= f.text_area :description, 
      placeholder: 'a summary of the art you want, and details about where you want it.' %>
  </div>
  </div>

  <div class="box">
  <div class="in-float">
    <%= f.label :location %>
    <%= f.number_field :lat, :class => 'text_field', :step => 0.000001, placeholder: 'latitude' %>
    <%= f.number_field :lng, :class => 'text_field', :step => 0.000001, placeholder: 'longitude' %>
  </div>
  </div>

  <div class="box">
  <div class="in-float">
    <%= f.label :amount %>
    <%= f.number_field :amount, :class => 'text_field', :step => 0.000001, placeholder: 'artist reward (btc)' %>
  </div>
  </div>

  <div class="box">
  <div class="in-float">
    <%= f.label :patron %>
    <%= f.text_field :patron, placeholder: 'your name (optional)',
      style: "min-width: 400px" %>
  </div>
  </div>

  <input name="stripeToken" id="stripeToken" style="display: none" type="text">
  <input name="stripeEmail" id="stripeEmail" style="display: none" type="text">
  <input name="stripeTokenType" id="stripeTokenType" style="display: none" type="text">

  <div class="box">
  <div class="in-float" style="background:#334">
  <button id="customButton" style="background:none;border:none;font-size:1em;font-family:Roboto;color:#fff">post bounty</button>
  </div>
  </div>

<% end %>
