<%= content_for :title do %> | award<% end %>
<% @candidates.each do |c| %>
<% c.each do |cc| %>
<div class="box in-float" style="height:auto">
<div>
  <img src="<%= cc.pic %>">
</div>
<div>
  <%= cc.artist %> | <%= cc.email %> 
</div>
<div>
  <%= form_for @bounty do |f| %>
  <%= f.hidden_field :artist, value: cc.artist %>
  <%= f.hidden_field :pic, value: cc.pic %>
  <%= f.hidden_field :address, value: cc.address %>
  <input type="hidden" name="award" value="1">
  <%= button_to 'award bounty', method: :post, action: :award %>
  <% end %>
</div>
</div>
<% end %>
<% end %>
