<%= content_for :title do %> | fill<% end %>
<%= form_for @candidate, url: {action: "fill"}  do |f| %>
  <div class="box">
  <div class="in-float">
    <label for="candidate_artist_name">artist name</label>
    <%= f.text_field :artist, placeholder: 'your name and/or tag' %>
  </div>
  </div>

  <div class="box">
  <div class="in-float">
    <label for="candidate_email">email</label>
    <%= f.text_field :email, placeholder: 'contact email address' %>
  </div>
  </div>

  <div class="box">
  <div class="in-float">
    <label for="candidate_pic">image url</label>
    <%= f.text_field :pic, placeholder: 'http://external.url/of/image.png' %>
  </div>
  </div>

  <div class="box">
  <div class="in-float">
    <label for="candidate_bitcoin_address">bitcoin address</label>
    <%= f.text_field :address, placeholder: 'your bitcoin address (required)' %>
  </div>
  </div>

  <div class="box">
  <div class="in-float" style="background:#334">
    <%= button_to 'fill bounty', fill_bounty_path, method: :post %>
  </div>
  </div>

  <%= f.hidden_field :escrow_id, value: @escrow.id %>
<% end %>
