<div id="hed">artwork</div>

<% @bounties.each do |bounty| %>
<% next unless bounty.artist %>
<div class="row">
<div class="sid">
  <div class="num row fil"><%= bounty.amount %> BTC</div>
  <div class="tic row"><%= bounty.votes.count %></div>
  <%= button_to '+love', vote_bounty_path(bounty), method: :post, class: "row" %>

  <div class="inf">
    by <%= bounty.artist %>

    <img class="qr" src="https://chart.googleapis.com/chart?cht=qr&chs=100x100&chl=<%= bounty.address %>">
      <%= bounty.address %>
    </div>

    <%= bounty.description %>
    commissioned by <%= bounty.patron || 'anonymous' %>
  </div>

<div class="tyt">
  <p style="margin:0;padding:0"><img src="<%= bounty.pic %>"><p>

  <%= bounty.title %>
  <p style="margin:0;padding:0"><code><%= bounty.lat %>, <%= bounty.lng %></code></p>
</div>

</div>
<%= link_to 'edit', edit_bounty_path(bounty) %>
<%= link_to 'kill', bounty_path(bounty),
method: :delete, 
data: { confirm: 'u sure?' } %>
<% end %>
