<div id="hed">artwork</div>

<% @bounties.each do |bounty| %>
<% next unless bounty.artist %>
<div class="box">
  <div class="row">
    <div class="num">
      <%= bounty.amount %> BTC
    </div>

    <div class="tyt">
      <%= bounty.title %>
    </div>

    <div class="loc">
      <%= bounty.lat %>, <%= bounty.lng %>
    </div>

    <div class="pic">
      <img src="<%= bounty.pic %>">
    </div>

    <div class="art">
      by <%= bounty.artist %>
    </div>

    <div class="adr">
      <%= bounty.address %>
    </div>

    <div class="wut">
      <%= bounty.description %>
    </div>

    <div class="wut">
      commissioned by <%= bounty.patron || 'anonymous' %>
    </div>
  </div>

  <div class="row tic">
    <%= bounty.votes.count %>
  </div>

  <%= button_to '+love', vote_bounty_path(bounty), method: :post, class: "row" %>

    <%= link_to 'edit', edit_bounty_path(bounty) %>
    <%= link_to 'kill', bounty_path(bounty),
      method: :delete, 
      data: { confirm: 'u sure?' } %>
</div>
<% end %>
