<%= form_for @bounty do |f| %>
  <% if @bounty.errors.any? %>
    <%= pluralize(@bounty.errors.count, "error") %> must be fixed.
    <ul>
      <% @bounty.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :artist_name %>
  <%= f.text_field :artist, placeholder: 'your name and/or tag' %>
  <%= f.label :image_url %>
  <%= f.text_field :pic, placeholder: 'http://external.url/of/image.png' %>
  <%= f.label :bitcoin_address %>
  <%= f.text_field :address, placeholder: 'your bitcoin address' %>
<%= button_to 'fill bounty', fill_bounty_path(@bounty), method: :post %>
<% end %>
