<style>

  .row {
    box-shadow: 1px 1px 1px #AAA; 
    margin: 10px;
    padding: 0px;
    display: inline-block;
    color: #000;
  }
 
  .row div {
    display: inline-block;
    padding: 10px;
  }

  .num {
    background: #B8E4BD;
    height: 100%;
    padding: 10px;
  }

  .tic {
    padding: 10px;
    margin: 0;
  }

  .nym {
    font-weight: bold;
    padding: 5px;
  }

  .loc {
    font-family: monospace;
    background: #DDD;
    border-radius: 3px;
    padding: 3px !important;
  }

  .who {
    float: right;
    margin: 5px;
    padding: 5px;
  }

  .how {
    font-style: italic;
    color: #AAA;
  }

  .wut {
    color: #999;
  }

  .fill {
    margin: 5px;
    padding: 10px 20px;
    color: #000;
    background: #B8E4BD;
  }

  form {
    display: inline-block;
  }

  input[type="submit"] {
    margin: 0;
    padding: 10px;
    background: #eee;
    border: none;
    font-family: inherit;
    font-size: inherit;
  }

</style>

<div id="hed">browse bounties</div>

<% @bounties.each do |bounty| %>
<% next if bounty.artist %>
<div class="nox">
  <div class="row">
    <div class="num">
      <%= bounty.amount %> BTC
    </div>

    <div class="tyt">
      <%= bounty.title %>
    </div>

    <div class="loc">
      <%= bounty.lat %>, <%= bounty.lng %>
    </div>

    <div class="wut">
      <%= bounty.description[0..30].gsub(/\s\w+\s*$/,'...') %>
    </div>

    <div class="wut">
      commissioned by <%= bounty.patron || 'anonymous' %>
    </div>
  </div>

  <a href="bounties/<%= bounty.id %>/fill"><div class="row fill">fill</div></a>

  <div class="row tic">
    <%= bounty.votes.count %>
  </div>
  <%= button_to '+want', vote_bounty_path(bounty), method: :post, class: "row" %>

    <%= link_to 'edit', edit_bounty_path(bounty) %>
    <%= link_to 'kill', bounty_path(bounty),
      method: :delete, 
      data: { confirm: 'u sure?' } %>
</div>
<% end %>
