<div class="bounty-component">
  <div class="bc-image">
    <a href="<%= @bounty.pic %>">
      <img src="<%= @bounty.pic %>" style="max-height: 300px" />
    </a>
  </div>
  <div class="bc-info">
    <h2><%= @bounty.title %></h2>
    <div><pre>Location: <%= @bounty.lat.round(6) %>, <%= @bounty.lng.round(6) %></pre></div>
     <div><%= @bounty.description || "No description given." %></div>
    <div>Artist: <%=@bounty.artist%></div>
    <div>Commissioned by: <%=@bounty.patron || "unknown"%></div>
    <p></p>
    <div>
      <a href="/escrows/new/?bounty_id=<%=@bounty.id%>">
        <div class="dark button">
          <%= if @bounty.pic then "Donate to this artist" else "Raise this bounty" end %>
        </div>
      </a>
      <a href="/bounties/<%=@bounty.id%>">
        <div class="dark button">
          View on webpage
        </div>
      </a>
    </div>
  </div>
</div>
