<% if @bounty.artist == "unknown" %><p style="font-size:0.75em;color:#888;text-align:center"><em>do you know who made this? <a href="mailto:go@grafiki.com">email us</a>.</em></p><%end%></p></div>
<% if @bounty.pic %>
  <div class='b-p'><img style='max-width:400px;max-height:400px' src='<%= @bounty.pic %>'></div>
  <div style='text-align:center'> 
<div class='row tic' id='infovotes' style='font-weight:bold'><%= @bounty.votes.count %></div>
<%= button_to '+', vote_bounty_path(@bounty), method: :post, class: "row tic", id: "buttonto" %>
    <div class='b-t'> 
<%= @bounty.title %> </div>
    <div class='b-r'> by <%= @bounty.artist %> </div>
    <div class='b-a'>$ <%= @bounty.amount %></div>
    <code> <a href='https://chart.googleapis.com/chart?cht=qr&chs=75x75&chl<%= @bounty.address %>'><%= @bounty.address %></a></code>
  </div>
<div class='b-s'><p class='b-d'>
<% else %>
  <div style='text-align:center'> 
    <div class='b-a'>$ <%= @bounty.amount %></div>
  </div>
  <% if @bounty.user != current_user %>
    <%= button_to 'fill', fill_bounty_path(@bounty), method: :post, class: "row", id: "buttonto" %>
  <% end %>
<div class='b-s'><p class='b-d'><b><%= @bounty.title %></b>:
<% end %>
<%= @bounty.description || 'no description given.' %>
<p class='b-n'><%= link_to @bounty do %>link here<% end %> | commissioned by <%= @bounty.patron || 'anonymous' %></p>
