<% content_for :title do %> | about<% end %>
<%= content_for :titlebox do %><div id="hed" class="in-float">about</div><% end %>
<div style="  
  margin: 0;
  margin-right: 75px;
  padding: 1rem;
  background-color: #eef;
  display: inline-table;
  border: 1px solid #99a">
<h1> what is grafiki? </h1>
<p>Grafiki is how artists get paid for public art.</p>

<p>We help creators accept donations for their work long after it's finished, and we enable communities to thank the artists who make their neighborhood special.</p>

<p>Grafiki lets locals commission top talent to make an area beautiful and unique.</p>

<p>Finally, Grafiki is the world's first global database of public artwork. Up to now, artists have needed museums or personal pages to make a living. Now even offline artists can monetize their passion.</p>

<p>On Grafiki, artists' real-world work can reach anyone on the planet. The artist doesn't need to run a website or even reveal their name.</p>

<h2> how does it work? </h2>
<h3> for artists: </h3>
<ol><li>If you have art that's already public, you can <%= link_to upload_bounties_path do %>upload its picture and location<% end %> to start accepting payments, once you prove the art is yours.</li>
    <ul><li><span style="font-size:0.8rem">Confirm you are the artist by posting a status update from a verified source, like social media or email. We will approve you upon receipt.</span></li></ul>
    <li>If you are looking for work, you can <%= link_to bounties_path do %>browse open bounties<% end %> to get started hunting.</li>
    <ul><li><span style="font-size:0.8rem">Once you see a bounty you like, contact the patron to arrange the work. Funds are released to you once the patron confirms the project is finished.</span></li></ul></ol>
<h3> for patrons: </h3>
<ol><li>When you're out and about and you see art that you like - a mural, a sculpture - pull up grafiki to <%= link_to filled_bounties_path do %>find the artwork by location<% end %>. You can tip the artist as much as you like.</li>
    <li>If you own a property or a space, you can <%= link_to new_bounty_path do %>post a public bounty<% end %> to entice local artists to create the art that you're envisioning.</li>
    <ul><li><span style="font-size:0.8rem">You can screen every applicant before accepting them. We do not release your payment until you are satisfied with their work.</span></li></ul></ol>
<h3> for the public: </h3>
<ol><li>Like urban exploration, Grafiki lets you <%= link_to root_path do %>adventure locally<% end %> to discover art you didn't know was there. Every place has its beautiful secrets. Now, they're yours.</li>
    <li>Finally, communities can <%= link_to new_bounty_path do %>commission art<% end %> that is both meaningful and professional.</li></ol>
</div>
</div>
<style> h1 { margin-top: 0; font-weight: bold; } p {margin-top:1rem;} 
</style>
