<%= content_for :title do %> | sign in<% end %>
<div class="in-float" style="height:auto;margin-top:2em">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="signupfield">
    email<br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="signupfield">
    password<br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="signupfield">
      <%= f.check_box :remember_me %>
      remember me
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "sign in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<style>
.signupfield {
  background: #223; 
  text-align: center; 
  color: #fff; 
}
</style>
