<%= content_for :title do %> | sign in<% end %>
<div class="in-float" style="height:auto">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="signupfield">
    <p>email</p>
    <p><%= f.email_field :email, autofocus: true %></p>

    <p>password</p>
    <p><%= f.password_field :password, autocomplete: "off" %></p>

  <% if devise_mapping.rememberable? -%>
      <p><%= f.check_box :remember_me %>
      remember me</p>
  <div class="actions">
    <p><%= f.submit "sign in" %></p>
  </div>
  <% end -%>
  </div>

<% end %>

<%= render "devise/shared/links" %>
</div>
<style>
.signupfield {
  text-align: center; 
}

.signupfield input {
  box-shadow: 1px 1px 1px #999;
}

p { margin: 0.25rem }

a { color: #000 }
</style>
