 <div id="invis-top-menu">
   <div id="hed" class="in-float">grafiki</div>
   <div id="searchbar" class="in-float">
     <form id="search-form" action="">
       <input placeholder="Search for art, bounties, or places..." type="text" id="search-text-input"></input>
       <button action"submit" value="search" id="search-button" class="in-float">search</button>
     </form>
   </div>

   <a href="bounties/new"><div class="add-new-button in-float">+ post a bounty</div></a>
   <a href="bounties"><div class="add-new-button in-float">$ fill a bounty</div></a>
   <a href="bounties/new_art"><div class="add-new-button in-float">^ upload artwork</div></a>
   <a href="bounties/filled"><div class="add-new-button in-float">* browse artwork</div></a>
   <a href="about"><div id="about-button" class="in-float">what is grafiki?</div></a>
   <div class="in-float rod" id="road">road</div>
   <div class="in-float rod sat" id="sat">satellite</div>

 </div>

 <div id="map">this a map</div>

 <script>
   function escapeHtml(str) {
     var div = document.createElement('div');
     div.appendChild(document.createTextNode(str));
     return div.innerHTML;
   }
   
   var map;
   var service;
   
   function initMap() {
     var cen = {lat: 40.7625, lng: -73.974167};
     var zum = 3;
     map = new google.maps.Map(document.getElementById('map'), {
       zoom: zum,
       center: cen
     });	
     map.setOptions({ mapTypeId: google.maps.MapTypeId.SATELLITE });
   }

   $( "#road" ).click(function() {
     map.setOptions({ mapTypeId: google.maps.MapTypeId.ROADMAP });
   });

   $( "#sat" ).click(function() {
     map.setOptions({ mapTypeId: google.maps.MapTypeId.SATELLITE });
   });


   $(document).ready(function(){
   <% Bounty.all.each do |bounty| %> 
     res_<%= bounty.id %> = 
       $.get("/bounties/<%= bounty.id %>.json").then(function(ub){ 

       b = {};
       for (attr in ub) { 
         if (attr == "lat" || attr == "lng" || attr == "amount") { 
           b[attr] = Number(ub[attr]);
           continue 
         };
         if (typeof(ub[attr]) == "string") {
           b[attr] = escapeHtml(ub[attr]) 
         }
       };

       marker_<%= bounty.id %>  = new google.maps.Marker({
         position: { lat: b.lat, lng: b.lng },
         map: map,
         <% if bounty.artist %>
         label: "a"
         <% else %>
         label: "$"
         <% end %>
       }); 
       marker_<%= bounty.id %>.setMap(map);

       info_<%= bounty.id %> = new google.maps.InfoWindow({
         maxWidth: 400,
         content: 
           "<div class='row tic' style='font-weight:bold'><%= bounty.votes.count %></div>" +
           (`<%= button_to '+', vote_bounty_path(bounty), method: :post, class: "row" %>`) +
           (function(){
             return b.artist ? 
               "<div class='b-p'><img style='min-width:350px'"+
               " class='pic' src='" + b.pic + "'></div>"+
               "<div style='text-align:center'>" + 
               "<div class='b-t'>" + b.title + "</div>" +
               "<div class='b-r'> by " + b.artist + "</div>" +
               "<img style='display: inline-block;margin:auto'" +
               "src='https://chart.googleapis.com/chart?cht=qr&chs=75x75&chl" + 
               b.address + "'>" + "<div class='b-a'>" + b.amount + " BTC </div>" +
               "<code>" + b.address + "</code></div>" 
             : "<div class='b-a'>" + b.amount + " BTC </div>" 
            })() +
               "<div class='b-s'><p class='b-d'>" + b.description + "</p></div>" +
               "<p class='b-n'>commissioned by " + (b.patron || 'anonymous') + "</p>" 
       });

       marker_<%= bounty.id %>.addListener('click', function() {
         if (!marker_<%= bounty.id %>.open) {
           info_<%= bounty.id %>.open(map, marker_<%= bounty.id %>);
           marker_<%= bounty.id %>.open = true;
         } else {
           info_<%= bounty.id %>.close();
           marker_<%= bounty.id %>.open = false;
         }
       });

       marker_<%= bounty.id %>.addListener('keyup', function(e) {
         console.log('ping');
         if (e.keyCode == 27) {
           info_<%= bounty.id %>.close();
         }
       });

     });
   <% end %> 
   <% if params[:id] %>
   console.log('it is working');
   $.get("/bounties/<%= params[:id] %>.json").then(function(ub){  
     map.setCenter({lat: ub.lat, lng: ub.lng});
     map.setZoom(20);
   });
   <% end %>

   });


</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYj7nHWwgJgu6r8GVUnbsPPQ0cvmVPunM&callback=initMap&libraries=places"></script>
