<!DOCTYPE html>
<html>
  <head>
    <title>Grafiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
 <div id="nav-menu">
   <div id="hed" class="in-float">grafiki</div>
   <div class="in-float" style="margin-left:3em">
     <input id="pac-input" class="searchbar" type="text" placeholder="Find bounties near...">
   </div>

   <a href="bounties/new"><div class="nav-button in-float">+ post a bounty</div></a>
   <a href="bounties"><div class="nav-button in-float">$ fill a bounty</div></a>
   <a href="upload"><div class="nav-button in-float">^ upload artwork</div></a>
   <a href="bounties/filled"><div class="nav-button in-float">* browse artwork</div></a>
   <% unless user_signed_in? %>
   <%= link_to "register", new_user_registration_path, id: "signup-button", class: "in-float" %>
   <%= link_to "login", new_user_session_path, id: "login-button", class: "in-float" %>
   <a href="about"><div id="about-button" class="in-float">what is grafiki?</div></a>
   <% end %>
   <% if user_signed_in? %>
     <div id="signup-button" class="in-float"
       style="right:7rem"><%= current_user.email %></div>
     <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "in-float",
       id: "about-button", style: "text-decoration: none; width:initial" %>
   <% end %>
   <div class="in-float rod" id="road">road</div>
   <div class="in-float rod sat" id="sat">satellite</div>

 </div>

    <%= yield %>

  </body>
</html>
