<!DOCTYPE html>
<html>
  <head>
    <title>grafiki<%= yield :title %></title>
    <meta name='viewport' content='width=550'>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'assets/images/favicon.svg' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://use.fontawesome.com/0abae758ff.js"></script>
  </head>
  <body>
    <% if not user_signed_in?
      username = ""
    else
      username = current_user.email.split("@")[0]
    end %>
    <%= react_component("NavBar", {username: username}) %>
    <div id="page">
      <%= yield %>
      <% b=Bounty.where({:id=>(Bounty.all.length*rand).to_i}) %>
      <% if b.exists? %>
        <div id="opac"></div>
        <div id="bgimg" style="
          background: url(<%= b.first['pic'] %>) center center no-repeat;
          background-size: cover;
        "></div>
      <% end %>
    </div>
  </body>
</html>
