<!DOCTYPE html>
<html>
  <head>
    <title>grafiki <%= yield :title %></title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>

 <div id="nav-menu">
   <%= link_to root_path do %><div id="hed" class="in-float">grafiki<%= yield :title %></div><% end %>

   <%= link_to new_bounty_path do %><div class="nav-button in-float"><span id="i">+</span> post a bounty</div><% end %>
   <%= link_to bounties_path do %><div class="nav-button in-float"><span id="i">$</span> fill a bounty</div><% end %>
   <%= link_to upload_bounties_path do %><div class="nav-button in-float"><span id="i">^</span> upload artwork</div><% end %>
   <%= link_to filled_bounties_path do %><div class="nav-button in-float"><span id="i">*</span> browse artwork</div><% end %>
   <%= link_to pages_about_path do%><div id="ab" class="nav-button in-float"><span id="i">?</span> about grafiki</div><%end%>
   <a id="credshell"><div id="cred" class="nav-button in-float">view background art on map</div></a>
   <% unless user_signed_in? %>
   <%= link_to "register", new_user_registration_path, id: "signup-button", class: "in-float" %>
   <%= link_to "login", new_user_session_path, id: "login-button", class: "in-float" %>
   <% end %>
   <% if user_signed_in? %>
     <div id="signup-button" class="in-float"
       style="right:7rem"><%= current_user.email %></div>
     <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "in-float",
       id: "signout-button", style: "text-decoration: none; width:initial" %>
   <% end %>
   <%= yield :satbutts %>
 </div>
    <% if flash %>
    <div id="flashes">
    <% flash.each do |name,msg| %>
    <%= content_tag :div, msg, class: "flash "+name %>
    <% end -%>
    </div>
    <%end%>

    <%= yield :map %>
    <div id="page"><%= yield %></div>
    <div style="
    position: absolute;
    text-align: center;
    top: 5rem;
    z-index: 5;
    left: 40%;
  " id="botflashes"></div>

    <script type="text/javascript">
      $(document).ready(function(){
        setTimeout(function(){
          $('.flash').remove();
        }, 5000);
      });
    </script>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  /*
  *  THE SCRIPT FROM STRIPE TO GATHER THE MONIES
  *  FROM THE CREATIVE FOLK OF THE PLANET
  */
  function getAmt(){
   // convert to cents (100) + fee (10)
   return Number($( "#bounty_amount" ).val()) * 110 
  };

  var handler = StripeCheckout.configure({
    key: 'pk_test_S27ParIaigJWMsagC3SAFiFG',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    bitcoin: true,
    token: function(token) {
      $( "#stripeEmail" ).val( token.email );
      $( "#stripeToken" ).val( token.id );
      $( "#stripeTokenType" ).val( token.type );
      $( "#new_bounty" ).submit()
    }
  });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options:
    handler.open({
      name: 'grafiki',
      description: '2 widgets',
      amount: getAmt()
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation:
  $(window).on('popstate', function() {
    handler.close();
  });
</script>


<% b=Bounty.where({:id=>(Bounty.all.length*rand).to_i}) %>
<% if b.exists? %>
  <div id="bgimg" style="
    background: url(<%= b.first['pic'] %>) center center no-repeat;
    background-size: cover;
  "></div>

  <%# link to the bounty in the navbar %>
  <script>
    $(document).ready(function(){$( "#credshell" ).attr( 
      "href","/bounties/<%= b.first.id %>"
    )});
  </script>
<% end %>


  </body>
</html>
